* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, button, textarea {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

#header {
  background-color: #18181A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.33rem;
}

#header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

#header .menu a:hover {
  color: #E91E3C;
}

#home {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.43rem;
  padding: 9.37rem 0 0 0;
}

#home .about-me {
  color: #FFFFFF;
}

#home .about-me h1 {
  font-size: 4rem;
  font-weight: 400;
}

#home .about-me p {
  font-size: 2.25rem;
  text-align: center;
}

#home .about-me span {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  color: #E91E3C;
}

#home .download-cv {
  border: 2px solid #E91E3C;
  border-radius: 1rem;
  padding: .67rem;
  font-size: 2.25rem;
}

#home .download-cv:hover {
  background-color: #E91E3C;
}

#home .social-midias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.43rem;
  margin-bottom: -2rem;
}

#home .social-midias a {
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#18181A));
  background: linear-gradient(180deg, #333333 0%, #18181A 100%);
  border-radius: .5rem;
  outline: none;
  border: none;
  min-width: 17.75rem;
  padding: .3rem .75rem;
  font-size: 2rem;
  color: #FFFFFF;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .75rem;
}

#home .social-midias a img {
  width: 3.81rem;
  height: 4.35rem;
}

#home .social-midias a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#18181A), to(#333333));
  background: linear-gradient(180deg, #18181A 0%, #333333 100%);
}

#abilities {
  background-color: #18181A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.6rem;
  padding: 3.6rem;
}

#abilities p {
  font-size: 3rem;
  color: #FFFFFF;
}

#abilities .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.43rem;
}
/*# sourceMappingURL=styles.css.map */