header {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: var(--primary-black);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

header .logo {
  width: 5rem;
  height: 2rem;
}

header .menu-button {
  transition: 0.5s;
}

.side-menu {
  position: fixed;
  width: 0; 
  height: 100%;
  z-index: 2;
  right: 0;
  top: 4rem;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.5rem;
  background-color: var(--gray);
}

.side-menu a {
  margin: 1.5rem 1rem 0;
  color: var(--tertiary-white);
}

.side-menu a:active {
  color: var(--primary-white);
}

.open {
  width: 17.5rem;
}

hr {
  width: 90%;
  align-self: center;
  color: var(--primary-white);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1.5rem;
  margin: 7rem 0 3rem;
  max-width: 22.5rem;
}

.hero h1, .hero h2 {
  color: var(--primary-black);
  font-weight: 600;
}

.hero h1 {
  font-size: 2.25rem;
}

.hero h2 {
  font-size: 1.5rem;
}

.hero p{
  color: var(--gray);
  font-size: 1rem;
}

.hero img, .about-me img {
  width: 19rem;
  height: 16rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 3rem 1.5rem;
  background-color: var(--secondary-white);
  max-width: 22.5rem;
  border-radius: .5rem;
}

.about-me .tech-stack {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 2rem;
}

.about-me .tech-stack i {
   font-size: 1.4rem;
   color: var(--gray);
}

.about-me span {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  color: var(--black);
  margin-bottom: .5rem;
}

.about-me h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-black);
  margin-bottom: 1rem;
}

.about-me p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray);
}

.about-me a {
  display: flex;
  align-items: center;
  gap: .5rem;
  max-width: 12rem;
  width: fit-content;
  background-color: var(--primary-black);
  outline: none;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  margin-top: 2rem;
}

.about-me a i {
  font-size: 1.5rem;
  color: var(--primary-white);
}

.about-me a p {
  color: var(--primary-white);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem 1.5rem;
  max-width: 22.5rem;
}

.projects div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects div span {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  color: var(--black);
  margin-bottom: .5rem;
}

.projects div h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-black);
}

.projects ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.projects a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 1rem 1.5rem;
  background-color: var(--primary-black);
  border-radius: .5rem;
  color: var(--secondary-white);
  max-width: 9rem;
  width: fit-content;
}

.projects ul .project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: fit-content;
  gap: 1rem;
  border-radius: .5rem;
  padding: 1.5rem;
  background-color: var(--primary-black);
}

.projects ul .project-wrapper img {
  width: 17.5rem;
  height: 10rem;
  border-radius: .5rem .5rem 0 0;
  margin-top: -1.5rem;
}

.projects ul .project-wrapper .project-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.projects ul .project-wrapper .project-info p {
  font-size: .875rem;
  color: var(--tertiary-white);
}

.projects ul .project-wrapper .project-info div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.projects ul .project-wrapper .project-info div i {
  font-size: 1.5rem;
  color: var(--tertiary-white);
}

.projects ul .project-wrapper .project-description {
  display: flex;
  align-items: start;
  gap: .5rem;
  text-align: start;
}

.projects ul .project-wrapper .project-description h3 {
  font-size: 1.25rem;
}

.projects ul .project-wrapper .actions-buttons {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: relative;
  top: 2.3rem;
  left: 15.5rem;
  height: 0;
}

.projects ul .project-wrapper .actions-buttons a {
  background-color: var(--black);
  padding: .75rem;
  border-radius: .5rem;
}

.projects ul .project-wrapper .actions-buttons a i {
  font-size: 1.5rem;
  color: var(--secondary-white);
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 1.5rem;
  background-color: var(--secondary-white);
  max-width: 22.5rem;
  border-radius: .5rem;
}

.contact-me div {
  display: flex;
  flex-direction: column;
}

.contact-me div img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 2.5rem;
}

.contact-me div span {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  color: var(--black);
  margin-bottom: .5rem;
}

.contact-me div h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-black);
  margin-bottom: 1rem;
}

.contact-me div p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 1rem;
}

.contact-me div .social-medias {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.contact-me div .social-medias a {
  background-color: var(--primary-black);
  padding: .75rem;
  border-radius: .8rem;
}

.contact-me div .social-medias a i {
  font-size: 1.5rem;
  color: var(--secondary-white);
}

.contact-me form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-me form input {
  height: 3rem;
}

.contact-me form input::placeholder, .contact-me form textarea::placeholder {
  color: var(--tertiary-white);
}

.contact-me form input, .contact-me form textarea {
  background-color: var(--gray);
  padding: .75rem 1rem;
  border-radius: .5rem;
  color: var(--secondary-white);
  outline: none;
  border: none;
}

.contact-me form textarea {
  max-width: 19.5rem;
  min-height: 10rem;
}

.contact-me form button {
  display: flex;
  align-items: center;
  gap: .5rem;
  max-width: 14rem;
  width: fit-content;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  background-color: var(--primary-black);
  color: var(--secondary-white);
  border: none;
  outline: none;
  margin-top: 1rem;
}

.contact-me form button i {
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
  background-color: var(--primary-black);
  width: 100%;
}

footer .copywriting {
  font-size: .875rem;
}

footer .copywriting a {
  text-decoration: underline;
  color: var(--secondary-white);
}

footer .social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-links a {
  color: var(--secondary-white);
}

footer .social-links i {
  font-size: 1.5rem;
}

footer .social-links a:hover {
  color: var(--primary-white);
}

@media (min-width: 1280px) {
   
}