@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    --cor-preto:  #18181A;
    --cor-branco: #f2f2f2;
    --cor-principal: #E91E3C;
    --cor-secundaria: #222222;
}

body {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
}

.navbar {
    background-color: var(--cor-secundaria);
}

.navbar-brand {
    padding: 0;
    border: 3px solid var(--cor-principal);
    border-radius: 100%;
}

.navbar-nav .nav-item .nav-link {
    transition: all 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 3px solid var(--cor-principal);
}

.container-md {
    margin: 10% auto;
}

.text-center {
    color: var(--cor-principal);
}

.line {
    width: 85%;
    height: 4px;
    background-color: var(--cor-principal);
}

.btn {
    outline: none;
    border: none;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
}

.btn {
    transition: all 0.3s;
}

.btn:hover {
    background-color: transparent;
    border: 4px solid var(--cor-principal);
}

section .container-fluid {
    background-color: var(--cor-secundaria);
}

section .container-fluid .container-md {
    margin: 8% auto;
}

.card {
    background-color: var(--cor-preto);
}

.card-footer {
    background-color: var(--cor-principal);
}

.social {
    color: var(--cor-secundaria);
}

.fa-github {
    color: white;
    transition: all 0.3s;
}

.fa-github:hover {
    color: var(--cor-secundaria);
}

.carousel {
    background-image: linear-gradient(var(--cor-preto) 5%, var(--cor-secundaria ));
}

section .container-md {
    margin-top: 5%;
}